html{
  margin:0;
  padding:0;
  height:100%; 
}

 body { 
  margin:0; 
  padding:0; 
  min-height:100%; 
}

html, body {
  overflow: auto;
}

.min-h-100{
  min-height: 100px;
}

.min-h-200{
  min-height: 200px;
}

.h-100px{
  height: 100px;
}
.clickable{
  cursor: pointer;
} 

.center {
  margin: auto;
}

.color1{
  color: #fbfbfd3d;
}

.m-b-20{
  margin-bottom: 20px;
}

.border-bottom-color1 {

  border-bottom-color: #fbfbfd3d !important;
}



#rout{
  min-height: 1060px;
}

.oveoverflow-hidden{
  overflow: hidden !important;
}